.navbar-nav > li{
    padding-left: 1rem;
    padding-right: 1rem;
}

img{
    filter: invert(100%);
    width: 150px;
    height: 75px;
}

.alert{
    position: absolute;
    top: 10rem;
    left: 45rem;
    width: 35rem;
}